<div class="d-flex flex-row">

  <div class="col-8">
    <mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.amount |currency}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="transaction">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.transaction}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="day">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Day </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.day | date:'short'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="balance">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width: 110px;">Rise</mat-header-cell>
        <mat-cell *matCellDef="let element" class="d-flex flex-row justify-content-between" style="max-width: 110px;">
          {{element.balance}}
          <mat-icon *ngIf="element.amount>0" style="color:green">arrow_upward</mat-icon>
          <mat-icon *ngIf="element.amount<=0" style="color:red">arrow_downward</mat-icon>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
  </div>

  <div class="col-4">
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Añadir saldo</mat-label>
        <input matInput type="number" formControlName='amount'>
        <button mat-button matSuffix mat-icon-button aria-label="Add" (click)="onAddCredit()"
          (keyup.enter)="onAddCredit()">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
      </mat-form-field>
      <mat-error *ngIf="form.controls.amount.value<0" style="margin-top: -10px;">
        Values ​​must be greater than 1
      </mat-error>
    </form>
  </div>

</div>