<app-graphic [var]="graphic.criptoA.amounts" [hour]="graphic.criptoA.hour"></app-graphic>
<app-table [dataTable]="graphic"></app-table>

<div class="col-12">
    <span class="col-3">Price: {{amount | currency}}</span>
    <mat-form-field class="col-2">
        <mat-label>Cantidad</mat-label>
        <input matInput type="number" [(ngModel)]="quantity">
    </mat-form-field>

    <span class="col-3">Total:{{amount*quantity | currency}}</span>
    <button (click)="onUpdateCripto()" class="col-3" >Comprar CriptoA</button>
</div>
