<app-graphic [chartData]="criptoA"></app-graphic>

<app-table></app-table>

<form [formGroup]="form">
    <mat-form-field>
        <mat-label>Añadir saldo</mat-label>
        <input matInput type="number" formControlName='amount'>
        <button mat-button matSuffix mat-icon-button aria-label="Add">
            <!-- (click)="onUpdateCripto()" (keyup.enter)="onUpdateCripto()" -->
            <mat-icon>add_circle_outline</mat-icon>
        </button>
    </mat-form-field>
</form>

<button (click)="onUpdateCripto()">comprar criptomoneda</button>